@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: solid 8px #6BC6C4;
  background-color: #F6F6F6;
  font-family: Arial, Helvetica, sans-serif;
  color: #515151;
}

.container {
  width: 920px;
  margin: 0 auto;
}

header {
  margin-top: 10px;
  height: 130px;
}

header img {
  width: 250px;
  margin-top: 52px;
}

.info {
  width: 225px;
  height: 100px;
  float: right;
  margin-top: 15px;
}

.text1 {
  font-size: 9px;
  text-align: end;
}

.fa-phone-alt {
  font-size: 22px;
  padding: 0 8px;
}

.text2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-align: end;
  margin: 12px 0;
}

.text3 {
  font-size: 11px;
  text-align: center;
  padding: 5px 0;
  border: solid 1px #D6D6D6;
}

.text3 span {
  color: #B22B00;
}

nav {
  background-color: #c7eae9;
  border: solid 1px #6BC6C4;
  border-radius: 8px;
  height: 72px;
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
  width: 184px;
  height: 72px;
}

nav a {
  background: linear-gradient(#c7eae9, #6BC6C4);
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #6BC6C4;
  border-left: solid 1px #6BC6C4;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 15px;
  width: 183px;
  height: 70px;
}

.first {
  border-radius: 8px 0 0 8px;
}

.last {
  border-radius: 0 8px 8px 0;
}

nav a:hover {
  background: linear-gradient(#6BC6C4, #c7eae9);
  color: #C2FEFD;
}

nav span {
  font-size: 10px;
  font-weight: bold;
}

section {
  height: 737px;
  display: flex;
  justify-content: space-between;
}

.sec1 {
  width: 260px;
  height: 737px;
}

.sec1 p {
  background: linear-gradient(#c7eae9, #71C9C7);
  color: #FFFFFF;
  width: 258px;
  height: 43px;
  display: inline-block;
  padding-left: 15px;
  padding-top: 10px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.box {
  width: 260px;
  height: 232px;
  margin-top: 20px;
  border: solid 1px #6BC6C4;
  border-radius: 5px 5px 0 0;
}

.box span {
  color: #6DC6C4;
  font-size: 18px;
  padding-left: 3px;
  padding-right: 8px;
  padding-top: 8px;
  margin: auto;
  display: inline-block;
}

.box li {
  list-style: none;
  width: 235px;
  margin: auto;
  height: 42px;
  border-bottom: solid 1px #6BC6C4;
}

.box a {
  text-decoration: none;
  color: #515151;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}

.box a:hover {
  color: #6BC6C4;
}

.sec2 {
  width: 640px;
  height: 737px;
}

.sec2 img {
  width: 640px;
  height: 280px;
  margin-top: 22px;
}

.sec2 .info {
  width: 640px;
  height: 410px;
  background-color:#fff;
  margin-top: -8px;
}

.sec2 .news {
  border-bottom: solid 3px #6BC6C4;
  width: 600px;
  height: 75px;
  margin: 10px auto;
  padding-top: 38px;
  font-weight: bold;
}

.row {
  border-bottom: dotted 1px #CCCCCC;
  font-size: 13px;
  width: 580px;
  margin: auto;
}

.row .date {
  display: inline-block;
  width: 115px;
  font-size: 14px;
  height: 60px;
  padding-top: 16px;
  text-align: center;
  font-weight: bold;
}

.row .text {
  display: inline-block;
  width: 465px;
  height: 60px;
  padding-top: 16px;
  padding-left: 20px;
  float: right;
}

.footer-menu {
  height: 30px;
  background-color: #6BC6C4;
  border-radius: 5px;
}

.footer-menu ul {
  list-style: none;
  display: flex;
  padding-top: 5px;
}

.footer-menu li {
  padding-left: 13px;
  margin: 1px;
}

.fa-lg {
  color: #fff;
}

.footer-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-left: 8px;
  vertical-align: text-bottom;
}

.footer-menu a:hover {
  text-decoration: underline;
}

footer {
  height: 130px;
}

footer p {
  color: #515151; 
  font-size: 13px;
}

.address {
  height: 52px;
  border-bottom: solid 2px #6BC6C4;
}

.address p {
  font-weight: bold;
  float: right;
  display: inline-block;
  padding-top: 15px;
}

.rights {
  height: 50px;
}

.rights p {
  text-align: center;
  padding-top: 15px;
}